# Byte-compiled / cache
__pycache__/
*.py[cod]
*.sqlite3
*.db

# Virtual environment
.env/
venv/
ENV/
env/

# Environment variables
.env

# VSCode settings
.vscode/

# OS
.DS_Store
Thumbs.db

# Application specific
smart_planner.db
